#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

div#root{
  padding-top: 0;
  padding-bottom: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.carousel img {
  max-height: 400px; /* Ajusta la altura máxima */
  object-fit: cover; /* Mantiene la relación de aspecto */
}

/* src/App.css (o el archivo CSS correspondiente) */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ffafbd 0%, #ffc3a0 100%);
}

html{
  overflow: auto;
}

.carousel {
  margin-bottom: 50px; /* Ajusta el valor según tu preferencia */
}

h2 {
  text-align: center; /* Centra el título de productos destacados */
  margin-top: 30px; /* Aumenta espacio arriba */
    margin-bottom: 20px; /* Aumenta espacio debajo */
  color: #333; /* Cambia el color del texto si es necesario */
}


.container {
  padding: 20px 50px; /* Aumenta el espacio dentro de los bordes */
}

.featured-products .col-md-4 {
  padding: 20px; /* Añade espacio entre los productos */
  margin-bottom: 30px; /* Añade espacio debajo de cada producto */
}
header {
  margin-bottom: 100px; /* Ajusta el valor según lo que necesites */
}

.container-fullwidth {
  width: 100%;  /* Asegura que el div ocupe todo el ancho */
  background-color: white; /* Fondo blanco específico para el contenido */
  padding: 20px; /* Puedes ajustar el padding para dar más espacio */
}

.navbar-fullwidth {
  width: 100%;
  background-color: white; /* El color de fondo que quieras */
  padding: 10px 0; /* Ajusta el padding según lo que necesites */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra si lo deseas */
}
.navbar-nav .nav-link {
  color: #000000;
  transition: transform 0.2s ease, color 0.2s ease;
  width: 100%;
  font-family: 'Poppins', sans-serif; /* Aplica la fuente elegida */
  font-weight: 600; /* Negrita */
}

.navbar-nav .nav-link:hover {
  transform: scale(1.1); /* El enlace se agranda ligeramente */
  color: #ffafbd; /* Cambio de color a un tono del degradado */
  width: 100%;
  font-family: 'Poppins', sans-serif; /* Aplica la fuente elegida */
  font-weight: 600; /* Negrita */

}
.navbar-container {
  background: linear-gradient(135deg, #ffafbd 0%, #ffc3a0 100%); /* El mismo degradado que ya estás usando */
  padding: 10px 0; /* Añade algo de padding para que no se vea tan pegado */
}


footer{
  font-weight: 600; /* Negrita */

}

.carousel-caption h3, 
.carousel-caption p {
    color: black; /* Cambia este valor al color que prefieras */
    padding: 10px;
    border-radius: 8px;
}
.toast-fixed {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1050; /* Asegúrate de que esté por encima de otros elementos */
}